@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    width: 7%;

}

.navbar {
    list-style: none;
}

.navbar li{
    display: inline-block;
    padding: 0px 20px;
}

.navbar li a{
    transition: all 0.3s ease 0s;
}

.navbar li a:hover{
    color: #333399;

}

* {
    box-sizing:border-box
}

.slider {
  width: 100%;
  position: absolute;
  margin: auto;
}

.slides {
  display: none;
}

/* Next & previous buttons */
.antes, .despues {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.despues {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.antes:hover, .despues:hover {
  background-color: black;
}



.experience{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 60px;
}

.experience-title{
    margin-top: 1000px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600px;
    font-size: 29px;
    color: white;
    text-align: center;
}


.experience h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 500px;
    color: white;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

}

.experience img{
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  
}

.experience img:hover{
    box-shadow: 0px 10px 50px white;
}

.experience p{
    font-family: "Montserrat", sans-serif;
    font-weight: 300px;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.experience h4{
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}


